<nav class="menu">
    <ul class="menu_elementos">
      <li class="menu_elemento"><a href="{{ url_for('index') }}">Inicio</a></li>
      <li class="menu_elemento"><a href="{{ url_for('mostrar_resultado', id_quiniela='nacion') }}">Nacional</a></li>
      <li class="menu_elemento"><a href="{{ url_for('mostrar_resultado', id_quiniela='provincia') }}">Provincial</a></li>
      <li class="menu_elemento"><a href="{{ url_for('mostrar_resultado', id_quiniela='cordoba') }}">Cordoba</a></li>
    </ul>
  </nav>