
{# {{ quinielas }}
{{ opciones }} #}
{% if quinielas %}
    {% set cifras = get_cadenas(numero_jugado) %}
    {% for nombre_quiniela, resultados in quinielas.items() %}
        <div class="quiniela">
            <div class="quiniela_titulo">
                <h2> {{ nombre_quiniela }}</h2>
            </div>
            {% for resultado in resultados %}
                {% for horario, numeros in resultado.items() %}
                    <div class="horario">
                        <h3 class="">{{horario}}</h3>
                    </div>
                    {% set num_cifras = ['1','2','3'] %}
                    {% set oracion = ['Dos cifras', 'Tres cifras', 'Cuatro cifras' ] %}
                    <div class="resultados">
                        {% for num_cifra in num_cifras %}
                            <div class="resultado">
                                {% if num_cifra in opciones and numero_jugado|length >= (loop.index + 1) %} {# comprueba premios  #}
                                    <div class="num_cifras">
                                        <h4 class="num_cifras--texto">{{ oracion[loop.index - 1] }}</h4>
                                    </div>
                                    {% set premios = verificar_premios(cifras[(loop.index)], numeros) %}
                                    {% if premios %}
                                        <div class="premios">
                                            {% for premio in premios %}
                                                {% for posicion, numero in premio.items() %}
                                                    <p>{{posicion}}:{{numero}}</p>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>No tiene premio</p>    
                                    {% endif %}
                                {% endif %}  {# finaliza premios cifras #}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}