<body>
    <div class="contenedor">
        {% include 'formulario.html' %}
    </div>
    <div class="contenedor">
        <p class="aviso">Los sorteos de la <span>Quiniela</span> se realizan de Lunes a sábado a las 11:30 <span>la Primera</span>, 14:00 <span>la Matutina</span>, 17:30 <span>la Vespertina</span> y 21:00 <span>la Nocturna</span>.</p>
    </div>

    <div class="contenedor">
        <div class="quinielas">
            {% include 'resultados.html' %}
        </div>
    </div>  
</body>

